#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

#navitem {
  margin: 10px 0 10px 0;
}

.navlogo {
  height: 50px;
  border-radius: 25px;
}

.form {
  text-align: center;
  border: solid black;
  margin-top: 10%;
  width: 60%;
}

/* #formrow {
  display: flex;
  justify-content: space-between;
} */