#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 100px;
  border-bottom: solid rgb(255,175,255) 3px;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
}

#navitem {
  margin: 10px 0 10px 0;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  color: rgb(38, 155, 201);
}

#navitem:hover {
  color: white;
}

.navlogo {
  height: 50px;
  border-radius: 25px;
}

.navlogo:hover {
  border: solid rgb(255,175,255);
}

.homepage {
  height: 100vh;
  margin-top: 100px;
}

.herobox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 33%;
  background-color: black;
}

.postbox {
  width: 100vw;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin-top: 100px;
}

#createbtn {
  text-align: center;
  margin: 30px;
}

.indexlink {
  color: rgb(50,195,240);
}

.indexlink:hover {
  color: rgb(255,175,255);
}

.postitem {
  display: flex;
  flex-wrap: wrap;
}

.postimg {
  max-width: 300px;
}

#singlepost {
  border: solid;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*----------- About -----------*/

.aboutbox {
  width: 100vw;
  height: 66%;
  text-align: center;
}

.aboutboxtop {
  color: black;
  font-size: 100px;
  border-bottom: solid black 3px;
}

.aboutboxbottom {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
}

.aboutright,.aboutleft {
  width: 50%;
  height: 100%;
  padding: 50px;
}

.aboutimg {
  width: 100%;
  max-height: 400px;
  width: auto;
}

/*----------- SlideShow -----------*/

.slidebox {
  height: 500px;
  background-color: black;
  display: flex;
  width: 100vw;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
}

.slideshowXs {
  text-align: center;
}
.slideshowX {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  color: teal;
  font-weight: 900;
}

.slideshowX.active {
  color: rgb(255,175,255);
  font-weight: 900;
  font-size: 30px;
}

/*------- ShowPage -----*/

.showpage {
 height: 100vh;
 width: 100vw;
 margin-top: 150px;
 text-align: center;
}

.showimg {
  max-width: 400px;
  border-radius: 20px;
  border: solid black 3px;
  box-shadow: 10px 10px 8px #888888;
}

.showname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showdesc {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.showvideo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.showbuttons {
  display: flex;
  flex-direction: column;
}

#showbutton {
  margin: 10px;
}

/*---------- Form --------*/

.formpage {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form {
  text-align: center;
  border: solid black;
  margin-top: 10%;
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .aboutboxtop {
    font-size: 80px;
  }

  .aboutboxbottom {
    flex-wrap: wrap;
  }

  .aboutright,.aboutleft {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .aboutbreak {
    width: 100%;
    background-color: black;
    height: 3px;
  }
  
  .aboutimg {
    width: 90%;
  }

  .formpage {
    margin-top: 150px;
  }

  .showimg {
    width: 300px;
  }

  #singlepost {
    margin: auto;
    margin-bottom: 10px;
  }

  .showdesc {
    border-top: solid black 3px;
    padding-top: 50px;
  }
}