#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 100px;
  border-bottom: solid rgb(255,175,255) 3px;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

#navitem {
  margin: 10px 0 10px 0;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  color: rgb(38, 155, 201);
}

#navitem:hover {
  color: white;
}

.navlogo {
  height: 50px;
  border-radius: 25px;
}

.navlogo:hover {
  border: solid rgb(255,175,255);
}

.homepage {
  height: 100vh;
  margin-top: 100px;
}

.herobox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 33%;
  background-color: black;
}

.form {
  text-align: center;
  border: solid black;
  margin-top: 10%;
  width: 60%;
}

.postbox {
  width: 100vw;
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

#createbtn {
  text-align: center;
  margin: 30px;
}

.postitem {
  display: flex;
  flex-wrap: wrap;
}

.postimg {
  max-width: 300px;
}

#singlepost {
  border: solid;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*----------- About -----------*/

.aboutbox {
  border: solid;
  width: 100vw;
  height: 66%;
  text-align: center;
}

.aboutboxtop {
  color: black;
  font-size: 100px;
  border-bottom: solid black 3px;
}

.aboutboxbottom {
  display: flex;
  justify-content: space-around;
}

.aboutright,.aboutleft {
  width: 50%;
  border: solid;
  height: 100%;
  padding: 50px;
}

/*----------- SlideShow -----------*/

.slidebox {
  height: 500px;
  background-color: black;
  display: flex;
  width: 100vw;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
}

.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  color: teal;
  font-weight: 900;
}

.slideshowDot.active {
  color: rgb(255,175,255);
  font-weight: 900;
  font-size: 30px;
}